spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/orders}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: false
  application:
    name: order-service

server:
  port: 8083

marketdata:
  url: ${MARKETDATA_URL:http://localhost:8081}

portfolio:
  url: ${PORTFOLIO_URL:http://localhost:8082}

logging:
  level:
    root: INFO
