spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/marketdata}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: false
  application:
    name: market-data-service

server:
  port: 8081

logging:
  level:
    root: INFO
